In [1]:
import pandas as pd
import numpy as np
import random
import copy
import math
from collections import defaultdict

randomlist = []
df_demand = {}
random.seed(2) # Use the same random seed
for i in range(0,20):   # 20 depots
    n = random.randint(50,150) # Depot Capacity
    randomlist.append(n)

for i in range(20):
    df_demand["D"+str(i+1)] = randomlist[i]

sum = 0
for (k,v) in df_demand.items():
    sum = sum + v

df_supply = {}
for i in range(sum):
    df_supply[i] = 1.0

np.random.seed(2) # Use the same random seed
df_dkm = pd.DataFrame(np.random.uniform(0.5,20, size=(sum,20))).astype(float)

random.seed(2) # Use the same random seed
age_b = []
for i in range(sum):
    n = random.randint(1,3) #Only to generate integer values inclusive of 1 & 3
    age_b.append(n)

age = {}
for i in range(len(age_b)):
    age[i] = age_b[i]

kpl = []
co2 = []
random.seed(2) # Use the same random seed
for (k,v) in age.items():
    if (v==1):
        n = random.uniform(5.1,6)
        m = round(random.uniform(515, 524), 2)
        kpl.append(n)
        co2.append(m)
    if (v==2):
        n = random.uniform(4.1,5)
        m = round(random.uniform(525, 534), 2)
        kpl.append(n)
        co2.append(m)
    if (v==3):
        n = random.uniform(3.1,4)
        m = round(random.uniform(535, 540), 2)
        kpl.append(n)
        co2.append(m)

fc_kpl = {}
for i in range(sum):
    fc_kpl[i] =(111/ kpl[i])

co2_c = {}
for i in range(sum):
    co2_c[i] =(0.00118642*co2[i])

random.seed(2) # Use the same random seed
doc = {}
for i in range(0,20):
    n = random.uniform(50,100)
    doc[i] = n

df_tdkom = pd.DataFrame(np.zeros(df_dkm.shape))
for i in range(len(df_dkm.columns)):
    for j in range(len(df_dkm.index)):
        df_tdkom[i][j] = df_dkm[i][j]*fc_kpl[j] + df_dkm[i][j]*co2_c[j] + doc[i]
#df_tdkom

df_tdkom.columns = [("D"+str(i)) for i in range(1,21)]
dk = df_tdkom.transpose()
costs_t = dk.to_dict()
cols = sorted(df_demand.keys())
costs1=copy.deepcopy(costs_t)

In [2]:
res = dict((k, defaultdict(int)) for k in costs_t)
g = {}
for x in df_supply:
    g[x] = sorted(costs_t[x].keys(), key=lambda g: costs_t[x][g])
for x in df_demand:
    g[x] = sorted(costs_t.keys(), key=lambda g: costs_t[g][x])
# print(costs1)
flag=0
while g:
    l=[]
    for x in df_demand:

        # print(demand[x],supply[g[x][0]])
        if df_demand[x]> df_supply[g[x][0]]:
            l.append(x)
            if len(l)==2:
                break
    # break
    mi=100000
    dem="D"
    # print(l)
    if len(l)==0:
        for x in df_demand:
            t=g[x][0]
            res[t][x]+=df_demand[x]
            df_supply[t]-=df_demand[x]
            df_demand[x]=0
            if df_supply[t]==0:
                if df_supply[t] == 0:
                    for k, n in df_demand.items():
                        if n != 0:
                            g[k].remove(t)
                del g[t]
                del df_supply[t]
            for k, n in df_supply.items():
                if n != 0:
                    g[k].remove(x)
            del g[x]
            del df_demand[x]
            break
        continue
    for x in l:

        diff = costs_t[g[x][1]][x]-costs_t[g[x][0]][x] if len(g[x])>1 else costs_t[g[x][0]]
        if diff < mi:
            mi=diff
            dem=x
    x=dem 

    # print(x,mi)
    # break

    while(df_demand[x]>0):

        v=min(df_demand[x],df_supply[g[x][0]])
        df_demand[x]-=v
        df_supply[g[x][0]]-=v
        res[g[x][0]][x]+=v
        t=g[x][0]
        # print(t)

        if df_supply[t]==0:
            if df_supply[t] == 0:
                for k, n in df_demand.items():
                    if n != 0:
                        g[k].remove(t)
            del g[t]
            del df_supply[t]
    for k, n in df_supply.items():
        if n != 0:
                g[k].remove(x)
    del g[x]
    del df_demand[x]


# for x in demand:

# 	t= g[x][0]
# 	if demand[x]> supply[t]:
# 		print("Help")
# 	res[t][x]+= demand[x] 
# 	demand[x]=0
# 	supply[t]-= demand[x]

# 	if supply[t]==0:
# 		if supply[t] == 0:
# 			for k, n in demand.items():
# 				if n != 0:
# 					g[k].remove(t)
# 		del g[t]
# 		del supply[t]
# 	for k, n in supply.items():
# 		if n != 0:
# 			g[k].remove(x)
# 	del g[x]





#print(df_demand,df_supply)	

# print(costs1)
cost = 0
for g in sorted(costs1):
    # print (g, " ",)
    for n in cols:
        y = res[g][n]
        if y != 0:
            pass
            # print (y,)
        cost += y * costs1[g][n]
        # print ("  ",)
    # print(" ")
# print ("Total Cost = ", cost)

In [3]:
cost

285232.5942797287

In [4]:
df_tdkom

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20
0,271.033760,116.742341,268.714152,227.223283,259.142814,220.380876,169.904294,307.414469,202.366649,190.090822,321.766900,266.105313,131.657500,272.022272,164.984899,404.065347,427.551827,272.296584,399.542681,102.921519
1,327.224761,136.685737,248.921555,107.040246,157.807947,355.762965,192.238461,122.704215,186.583388,242.598412,292.295499,156.183325,359.366243,289.516162,315.569602,278.017546,451.521247,338.938633,153.460882,377.323179
2,476.000191,298.160293,402.368358,194.514522,318.186002,259.890800,260.093207,371.802821,294.661753,454.410182,296.710991,99.068302,221.249416,404.447753,251.118592,119.924224,201.671223,112.647729,461.632518,443.913348
3,488.016004,393.847749,426.364312,146.312542,242.334867,346.520064,264.096155,99.103518,556.924300,300.982572,329.300937,222.898006,206.370258,264.585875,491.369917,459.947963,288.750795,95.473844,461.108842,202.805353
4,338.366542,117.635435,324.837752,217.631075,298.484536,261.014455,232.380009,293.433002,475.178334,135.077718,213.079336,84.588051,373.676356,339.832242,181.168980,274.687575,362.219391,348.934036,149.798392,422.204655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,120.662623,383.250943,557.188166,646.381202,550.262876,266.899052,434.165162,154.040851,550.797648,697.029463,218.774224,251.522873,252.890702,534.407019,540.933124,159.141954,200.113910,184.613784,112.211228,98.771344
1985,329.018001,673.301888,438.153942,409.245809,559.974740,218.856299,357.209285,279.060078,123.222830,236.412864,614.132344,634.251572,447.919557,431.216301,257.218645,231.947145,460.162210,314.683613,436.152983,549.491640
1986,124.859031,301.324777,516.015142,123.623398,374.394170,157.842546,195.854771,156.509524,286.001035,455.783798,198.285336,390.996095,354.775396,327.616406,234.787660,556.665178,120.868463,256.661358,440.112583,181.499401
1987,600.178759,405.242589,354.381672,175.707883,580.949074,624.936343,561.970429,421.346461,311.851675,403.597936,661.558562,379.637611,142.520086,336.226682,358.500625,577.420549,301.114367,231.644410,522.913317,479.766158
1988,284.518018,750.899508,304.036719,649.425903,139.923456,681.214875,121.568980,608.643515,229.292759,565.752491,751.501120,694.343342,630.614130,693.356774,374.899342,133.117256,234.709682,500.894171,386.098602,378.711076